.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.socials-link,
.socials-link:active,
.socials-link:visited {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0.5em 1em;
  border: 3px solid #10b981;
  background-color: #22272e;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  gap: 1em;
}
.socials-link:hover {
  color: #10b981;
}
.socials-link picture {
  margin-top: 4px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.skills a {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 6px;
  background-color: #22272e;
}
